.logo {
    height: 50px;
    background-color: rgb(255, 115, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boolean {
width: 190px;
}

.container {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    gap:20px;
}

.item {
    position: relative;
    width: calc((100% - 40px) / 3)
    
}

.sconti {
    position: absolute;
    bottom: 80px;
}
.sconto-red {
    background-color: red;
    color: white;
}

.sconto-green {
    background-color: green;
    color: white;
}

.heart {
    position: absolute;
    top:10px ;
    right:0 ;
    background-color: white;
    padding: 10px;
    
}

ul {
    list-style-type: none;
}
.end {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 160%;
}