.logo {
    height: 50px;
    background-color: rgb(255, 115, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    padding-top: 50px;
    width: 640px;
    
}

.item {
    position: relative;
}

.sconti {
    position: absolute;
    bottom: 40px;
}
.sconto-red {
    background-color: red;
    color: white;
}

.sconto-green {
    background-color: green;
    color: white;
}

.heart {
    position: absolute;
    top:0 ;
    right:0 ;
    background-color: white;
    padding: 10px;
}